<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="com.wiiy.sale.entity.SaleCustomer"
         name="销售部客户"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleCustomer">
      </entity>
   </extension>
	<extension
         id="com.wiiy.sale.entity.SaleCustomerCategory"
         name="客户分类"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleCustomerCategory">
      </entity>
   </extension>
   <extension
         id="com.wiiy.sale.entity.SaleCustomerLabel"
         name="客户标签"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleCustomerLabel">
      </entity>
   </extension>
   <extension
         id="com.wiiy.sale.entity.SaleCustomerLabelRef"
         name="客户标签关系"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleCustomerLabelRef">
      </entity>
   </extension>
   <extension
       id="com.wiiy.sale.entity.SaleProject"
       name="项目"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleProject">
      </entity>
   </extension>
   <extension
       id="com.wiiy.sale.entity.SalePlan"
       name="项目计划进度"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SalePlan">
      </entity>
   </extension>
   <extension
       id="com.wiiy.sale.entity.SaleFact"
       name="项目实际进度"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleFact">
      </entity>
   </extension>
   <extension
       id="com.wiiy.sale.entity.SaleContract"
       name="合同"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleContract">
      </entity>
   </extension>
   <extension
       id="com.wiiy.sale.entity.SaleContractAtt"
       name="合同文件"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleContractAtt">
      </entity>
   </extension>
    <extension
       id="com.wiiy.sale.entity.SaleBillPlanRent"
       name="结算计划"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleBillPlanRent">
      </entity>
   </extension>
   <extension
       id="com.wiiy.sale.entity.SaleBillRent"
       name="实际结算"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.SaleBillRent">
      </entity>
   </extension> 
   <extension
         id="com.wiiy.sale.entity.RegistrationBook"
         name="预订登记"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.RegistrationBook">
      </entity>
   </extension>
   <extension
         id="com.wiiy.sale.entity.ContectInfo"
         name="交往信息"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.ContectInfo">
      </entity>
   </extension>
   <extension
	     id="com.wiiy.sale.entity.RepeatedViste"
	     name="回访登记"
	     point="platform.base.bundle.HibernateExtension">
	  <entity
	        class="com.wiiy.sale.entity.RepeatedViste">
	  </entity>
   </extension>   
   <extension
         id="com.wiiy.sale.entity.Residential"
         name="住宅预订"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.sale.entity.Residential">
      </entity>
   </extension>
	
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/cms_icon3.gif"
            idSpace="sale"
            name="销售管理"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="business_functions">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_chance"
            name="销售机会"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale">
      </attribute>
   	</extension>
   	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo"
            name="销售线索"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_chance">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_all"
            name="所有线索"
            order="1"
            uri="/department.sale/web/client/contectInfo_list.jsp"
            uris="/department.sale/web/client/contectInfo_list.jsp
            /department.sale/investmentConfig!list.action"
            type="menu"
            parentId="sale_contectInfo">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_all_add"
            name="新建"
            order="1"
            uri="/department.sale/web/client/contectInfo_add.jsp"
            uris="/department.sale/web/client/contectInfo_add.jsp
            /department.sale/investmentConfig!save.action"
            type="operation"
            parentId="sale_contectInfo_all">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_all_edit"
            name="编辑"
            order="1"
            uri="department.sale/contectInfo!edit.action"
            uris="department.sale/contectInfo!edit.action
            /department.sale/investmentConfig!update.action"
            type="operation"
            parentId="sale_contectInfo_all">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_all_view"
            name="查看"
            order="1"
            uri="department.sale/contectInfo!view.action"
            uris="department.sale/contectInfo!view.action"
            type="operation"
            parentId="sale_contectInfo_all">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_all_delete"
            name="删除"
            order="1"
            uri="department.sale/contectInfo!delete.action"
            uris="department.sale/contectInfo!delete.action"
            type="operation"
            parentId="sale_contectInfo_all">
		</attribute>
	</extension>
	
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_my"
            name="我的线索"
            order="1"
            uri="/department.sale/web/client/contectInfo_list.jsp"
            uris="/department.sale/web/client/contectInfo_list.jsp 
            /department.sale/investmentConfig!listMy.action"
            type="menu"
            parentId="sale_contectInfo">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_my_add"
            name="新建"
            order="1"
            uri="/department.sale/web/client/contectInfo_add.jsp"
            uris="/department.sale/web/client/contectInfo_add.jsp
            /department.sale/investmentConfig!save.action"
            type="operation"
            parentId="sale_contectInfo_my">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_my_edit"
            name="编辑"
            order="1"
            uri="department.sale/contectInfo!edit.action"
            uris="department.sale/contectInfo!edit.action
            /department.sale/investmentConfig!update.action"
            type="operation"
            parentId="sale_contectInfo_my">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_my_view"
            name="查看"
            order="1"
            uri="department.sale/contectInfo!view.action"
            uris="department.sale/contectInfo!view.action"
            type="operation"
            parentId="sale_contectInfo_my">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_my_delete"
            name="删除"
            order="1"
            uri="department.sale/contectInfo!delete.action"
            uris="department.sale/contectInfo!delete.action"
            type="operation"
            parentId="sale_contectInfo_my">
		</attribute>
	</extension>
	
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_addByPhone"
            name="+来电"
            order="1"
            uri="/department.sale/web/client/contectInfo_add.jsp"
            uris="/department.sale/web/client/contectInfo_add.jsp
            /department.sale/investmentConfig!save.action"
            type="operation"
            parentId="sale_contectInfo">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_addByVisit"
            name="+来访"
            order="1"
            uri="/department.sale/web/client/contectInfo_add.jsp"
            uris="/department.sale/web/client/contectInfo_add.jsp
            /department.sale/investmentConfig!save.action"
            type="operation"
            parentId="sale_contectInfo">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_contectInfo_addByVisit"
            name="+回访记录"
            order="1"
            uri="/department.sale/web/contectInfo/repeatedViste_add.jsp"
            uris="/department.sale/web/contectInfo/repeatedViste_add.jsp
            /department.sale/repeatedViste!save.action"
            type="operation"
            parentId="sale_contectInfo">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_intention_customer"
            name="意向客户"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_chance">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_intention_customer_all"
            name="所有意向客户"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_intention_customer">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_intention_customer_my"
            name="我的意向客户"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_intention_customer">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_follow_reminds"
            name="跟进提醒"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_chance">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_follow_reminds_all"
            name="所有"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_follow_reminds">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_follow_reminds_my"
            name="我的"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_follow_reminds">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_opportunity_care"
            name="机会关怀"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_chance">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_birthday_care"
            name="生日关怀"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_opportunity_care">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_holiday_care"
            name="节日关怀"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_opportunity_care">
		</attribute>
	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_manager"
            name="销售管理"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_destine"
            name="预定"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_manager">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_house_add"
            name="+住宅"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_destine">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_shops_add"
            name="+商铺"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_destine">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_parking_add"
            name="+车位"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_destine">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_contract"
            name="销售合同"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_manager">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_contract_add"
            name="+合同"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_contract">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_remind"
            name="提醒"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_manager">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_remind_destine"
            name="预订提醒"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_remind">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_remind_settlement"
            name="结算提醒"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_remind">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_remind_cj"
            name="催缴提醒"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_remind">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_recentSigning"
            name="近期签约"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_manager">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_recentSigning_house"
            name="住宅"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_recentSigning">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_recentSigning_shops"
            name="商铺"
            order="2"
            uri=""
            uris=""
            type="menu"
            parentId="sale_recentSigning">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_recentSigning_parking"
            name="车位"
            order="3"
            uri=""
            uris=""
            type="menu"
            parentId="sale_recentSigning">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_statistics"
            name="销售统计"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_manager">
      </attribute>
   	</extension>
   	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_statistics_house"
            name="住宅"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_statistics">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_statistics_shops"
            name="商铺"
            order="2"
            uri=""
            uris=""
            type="menu"
            parentId="sale_statistics">
      </attribute>
   	</extension>   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_statistics_parking"
            name="车位"
            order="3"
            uri=""
            uris=""
            type="menu"
            parentId="sale_statistics">
      </attribute>
   	</extension>  
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_lease_management"
            name="租赁管理"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale">
      </attribute>
   	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_lease_contract"
            name="租赁合同"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_lease_management">
      </attribute>
   	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_lease_contract_add"
            name="+合同"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_lease_contract">
      </attribute>
   	</extension>
   	   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_lease_remind"
            name="提醒"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_lease_management">
      </attribute>
   	</extension>
   	   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_lease_remind_settlement"
            name="结算提醒"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_lease_remind">
      </attribute>
   	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_buildingManager"
            name="楼宇管理"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale">
      </attribute>
   	</extension>
   	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_buildingManager_buildingDefine"
            name="楼宇房源定义"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_buildingManager">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_buildingManager_housing"
            name="房源"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_buildingManager">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_buildingManager_freeHouse"
            name="置空住宅"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_buildingManager_housing">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_buildingManager_freeShop"
            name="置空商铺"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_buildingManager_housing">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_buildingManager_freeParking"
            name="置空车位"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_buildingManager_housing">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_buildingManager_makePrice"
            name="定价"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="sale_buildingManager">
		</attribute>
	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_customerManagement"
            name="客户管理"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale">
      </attribute>
   	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_customerManagement_customer"
            name="客户"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_customerManagement">
      </attribute>
   	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_customerManagement_customer_add"
            name="+客户"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_customerManagement_customer">
      </attribute>
   	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_customerManagement_customerCare"
            name="客户关怀"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_customerManagement">
      </attribute>
   	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_customerManagement_customerBirthCare"
            name="生日关怀"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_customerManagement_customerCare">
      </attribute>
   	</extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_customerManagement_customerholidayCare"
            name="节日关怀"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale_customerManagement_customerCare">
      </attribute>
   	</extension>
   	
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="sale_assist"
            name="辅助"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="sale">
      </attribute>
   	</extension>
   	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_assist_notice"
            name="销售公告"
            order="2"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="sale_assist">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_assist_atts"
            name="附件材料"
            order="2"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="sale_assist">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_assist_atts_ZS"
            name="销售材料"
            order="2"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="sale_assist_atts">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_assist_saleTO"
            name="业务转交"
            order="2"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="sale_assist">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_assist_assigneTo"
            name="指派转交"
            order="2"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="sale_assist_saleTO">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="sale_assist_overview"
            name="销售总览"
            order="2"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="sale_assist">
		</attribute>
	</extension>
</plugin>
