<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.wiiy.cloud.capture.entity.Column"
         name="频道"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cloud.capture.entity.Column">
      </entity>
   </extension>
   <extension
         id="com.wiiy.cloud.capture.entity.WebInfo"
         name="栏目"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cloud.capture.entity.WebInfo">
      </entity>
   </extension>
   <extension
         id="com.wiiy.cloud.capture.entity.WebContent"
         name="新闻信息"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cloud.capture.entity.WebContent">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.Param"
       name="基本参数"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Param">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.WaterMark"
       name="图片水印"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.WaterMark">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.ContactInfo"
       name="联系方式"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.ContactInfo">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.Links"
       name="友情链接"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Links">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.Resource"
       name="网站资源"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Resource">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.ArticleType"
       name="文章栏目"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.ArticleType">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.Article"
       name="文章"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Article">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.ArticleAtt"
       name="文章附件"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.ArticleAtt">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.RelatedArticle"
       name="关联文章"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.RelatedArticle">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.ArticleComment"
       name="文章评论"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.ArticleComment">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.WebInfoConfig"
       name="网站信息配置"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.WebInfoConfig">
      </entity>
   </extension>
    <extension
       id="com.wiiy.cms.entity.Mail"
       name="网站邮件订阅"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Mail">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.Advicement"
       name="网站意见反馈"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Advicement">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.Federation"
       name="服务联盟"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Federation">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.Platform"
       name="技术平台"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Platform">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.Receipt"
       name="通知回执"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Receipt">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.ReceiptAtt"
       name="通知回执附件"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.ReceiptAtt">
      </entity>
   </extension>
   <extension
       id="com.wiiy.cms.entity.FloatingWindow"
       name="网站浮窗管理"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.FloatingWindow">
      </entity>
   </extension>
   
   <extension
         id="com.wiiy.cms.entity.Document"
         name="文档"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.cms.entity.Document">
      </entity>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/cms_icon3.gif"
            idSpace="contentManagement"
            name="内容管理"
            order="9"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="business_functions">
      </attribute>
   </extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_routineManage"
            name="网站管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_websiteManagement"
            name="网站管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_allWebs"
            name="所有网站"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_websiteManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_addWeb"
            name="+网站"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_websiteManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_columnManagement"
            name="栏目管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_columnSet"
            name="栏目设置"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_columnManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_articleManagement"
            name="文章管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_cutformArticle"
            name="单页文章"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_articleManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_articleList"
            name="列表文章"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_articleManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_article_add"
            name="+文章"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_articleManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_projectManagement"
            name="专题管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_projectManagement_list"
            name="所有专题"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_projectManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_projectManagement_add"
            name="+专题"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_projectManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_commentManagement"
            name="评论管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_conventional"
            name="评论管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_commentManagement">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_webSiteResource"
            name="网站资源"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_webSiteResource_list"
            name="所有资源"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_webSiteResource">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_webSiteResource_add"
            name="+资源"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_webSiteResource">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_floatingWindow"
            name="浮窗管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_floatingWindow_list"
            name="浮窗管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_floatingWindow">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_floatingWindow_add"
            name="+浮窗"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_floatingWindow">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_recycleBin"
            name="回收站"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_recycleBin_list"
            name="回收站"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_recycleBin">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_others"
            name="其他配置"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_routineManage">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_others_feedback"
            name="意见反馈"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_others">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_others_mail"
            name="邮件订阅"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_others">
		</attribute>
	</extension>
	
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_documentManagement"
            name="文档管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement">
		</attribute>
	</extension> 
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_documentManagement_document"
            name="文档管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_documentManagement">
		</attribute>
	</extension> 
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_documentManagement_add"
            name="+文档"
            order="11"
            uri="/parkmanager.cms/web/document/personaldocuments_add.jsp"
            uris="/parkmanager.cms/web/document/personaldocuments_add.jsp /parkmanager.cms/document!save.action /core/upload.action"
            type="menu"
            parentId="contentManagement_documentManagement_document">
		</attribute>
	</extension> 
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.cms/web/images/oaico/doc_01_min.png"
            idSpace="cms_document_personal"
            name="我的文档"
            order="2"
            uri="/parkmanager.cms/web/document/personaldocuments_list.jsp"
            uris="/parkmanager.cms/web/document/personaldocuments_list.jsp /parkmanager.cms/web/document/document_index.jsp /parkmanager.cms/document!list.action /parkmanager.cms/document!loadDocByParentId.action"
            type="menu"
            parentId="contentManagement_documentManagement_document">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/emailadd.gif"
            idSpace="cms_personal_add"
            name="添加文档"
            order="2"
            uri="/parkmanager.cms/web/document/personaldocuments_add.jsp"
            uris="/parkmanager.cms/web/document/personaldocuments_add.jsp /parkmanager.cms/document!save.action /core/upload.action"
            type="operation"
            parentId="cms_document_personal">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/edit.gif"
            idSpace="cms_personal_edit"
            name="编辑"
            order="2"
            uri="/parkmanager.cms/document!edit.action"
            uris="/parkmanager.cms/document!edit.action  /parkmanager.cms/document!update.action"
            type="operation"
            parentId="cms_document_personal">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/usersadd.gif"
            idSpace="cms_personal_shareIn"
            name="内部共享"
            order="2"
            uri="/parkmanager.cms/web/document/shareIn.jsp"
            uris="/parkmanager.cms/web/document/shareIn.jsp /parkmanager.cms/document!shareDoc.action /parkmanager.cms/document!shareIn.action"
            type="operation"
            parentId="cms_document_personal">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/userswarp.png"
            idSpace="cms_personal_shareOut"
            name="外部共享"
            order="2"
            uri="/parkmanager.cms/web/document/shareOut.jsp"
            uris="/parkmanager.cms/web/document/shareOut.jsp /parkmanager.cms/document!publicDoc.action /parkmanager.cms/document!shareOut.action"
            type="operation"
            parentId="cms_document_personal">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/del.gif"
            idSpace="cms_personal_del"
            name="删除"
            order="2"
            uri="/parkmanager.cms/document!delete.action"
            uris="/parkmanager.cms/document!delete.action"
            type="operation"
            parentId="cms_document_personal">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_personal_move"
            name="移动"
            order="2"
            uri="/parkmanager.cms/document!move.action"
            uris="/parkmanager.cms/document!move.action /parkmanager.cms/document!moveDoc.action"
            type="operation"
            parentId="cms_document_personal">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_personal_folder"
            name="新建文件夹"
            order="2"
            uri="/parkmanager.cms/web/document/folder_add.jsp"
            uris="/parkmanager.cms/web/document/folder_add.jsp /parkmanager.cms/document!addFolder.action /parkmanager.cms/document!saveFolder.action"
            type="operation"
            parentId="cms_document_personal">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_personal_reName"
            name="重命名"
            order="2"
            uri="/parkmanager.cms/document!updateFolder.action"
            uris="/parkmanager.cms/document!updateFolder.action"
            type="operation"
            parentId="cms_document_personal">
      </attribute>
	</extension> 
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.cms/web/images/oaico/doc_02_min.png"
            idSpace="cms_document_share"
            name="共享文档"
            order="2"
            uri="/parkmanager.cms/web/document/share_document_list.jsp"
            uris="/parkmanager.cms/web/document/share_document_list.jsp /parkmanager.cms/web/document/share_document_index.jsp /parkmanager.cms/docShare!list.action /parkmanager.cms/docShare!loadDocByParentId.action"
            type="menu"
            parentId="contentManagement_documentManagement_document">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_share_folder"
            name="新建文件夹"
            order="2"
            uri="/parkmanager.cms/web/document/share_folder_add.jsp"
            uris="/parkmanager.cms/web/document/share_folder_add.jsp /parkmanager.cms/docShare!addFolder.action /parkmanager.cms/docShare!save.action"
            type="operation"
            parentId="cms_document_share">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/userswarp.png"
            idSpace="cms_share_shareDel"
            name="取消共享"
            order="2"
            uri="/parkmanager.cms/docShare!shareDel.action"
            uris="/parkmanager.cms/docShare!shareDel.action"
            type="operation"
            parentId="cms_document_share">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/del.gif"
            idSpace="cms_share_del"
            name="删除"
            order="2"
            uri="/parkmanager.cms/docShare!delete.action"
            uris="/parkmanager.cms/docShare!delete.action"
            type="operation"
            parentId="cms_document_share">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_share_move"
            name="移动"
            order="2"
            uri="/parkmanager.cms/docShare!move.action"
            uris="/parkmanager.cms/docShare!move.action"
            type="operation"
            parentId="cms_document_share">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_share_downLoad"
            name="下载"
            order="2"
            uri=""
            uris=""
            type="operation"
            parentId="cms_document_share">
      </attribute>
	</extension>
	
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_share_reName"
            name="重命名"
            order="2"
            uri="/parkmanager.cms/docShare!edit.action"
            uris="/parkmanager.cms/docShare!edit.action /parkmanager.cms/docShare!update.action"
            type="operation"
            parentId="cms_document_share">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.cms/web/images/oaico/doc_03_min.png"
            idSpace="cms_document_public"
            name="企业文档"
            order="2"
            uri="/parkmanager.cms/web/document/public_document_list.jsp"
            uris="/parkmanager.cms/web/document/public_document_list.jsp /parkmanager.cms/web/document/public_document_index.jsp /parkmanager.cms/docPublic!list.action /parkmanager.cms/docPublic!loadDocByParentId.action"
            type="menu"
            parentId="contentManagement_documentManagement_document">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_public_folder"
            name="新建文件夹"
            order="2"
            uri="/parkmanager.cms/web/document/public_folder_add.jsp"
            uris="/parkmanager.cms/web/document/public_folder_add.jsp /parkmanager.cms/docPublic!addFolder.action /parkmanager.cms/docPublic!save.action"
            type="operation"
            parentId="cms_document_public">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/del.gif"
            idSpace="cms_public_del"
            name="删除"
            order="2"
            uri="/parkmanager.cms/docPublic!delete.action"
            uris="/parkmanager.cms/docPublic!delete.action"
            type="operation"
            parentId="cms_document_public">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_public_move"
            name="移动"
            order="2"
            uri="/parkmanager.cms/docPublic!move.action"
            uris="/parkmanager.cms/docPublic!move.action"
            type="operation"
            parentId="cms_document_public">
      </attribute>
	</extension>
	
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_public_reName"
            name="重命名"
            order="2"
            uri="/parkmanager.cms/docPublic!edit.action"
            uris="/parkmanager.cms/docPublic!edit.action /parkmanager.cms/docPublic!update.action"
            type="operation"
            parentId="cms_document_public">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="cms_public_downLoad"
            name="下载"
            order="2"
            uri=""
            uris=""
            type="operation"
            parentId="cms_document_public">
      </attribute>
	</extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/userswarp.png"
            idSpace="cms_public_publicDel"
            name="取消企业公共文档"
            order="2"
            uri="/parkmanager.cms/docPublic!publicDel.action"
            uris="/parkmanager.cms/docPublic!publicDel.action"
            type="operation"
            parentId="cms_document_public">
      </attribute>
	</extension> 
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_documentManagement_search"
            name="文档检索"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_documentManagement">
		</attribute>
	</extension>
	<extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_document_search"
            name="检索"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_documentManagement_search">
		</attribute>
	</extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_webContentManagement"
            name="抓取管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement">
		</attribute>
	</extension> 
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_webContentManagement_deploy"
            name="抓取配置"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_webContentManagement">
		</attribute>
	</extension> 
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.cms/web/images/oaico/ad_08_min.png"
            idSpace="parkelves_catchManage_test1"
            name="所有站点"
            order="1"
            uri="/parkmanager.cms/web/news/webInfo_list.jsp"
            uris="/parkmanager.cms/web/news/webInfo_list.jsp /parkmanager.cms/web/news/channel_add.jsp  /parkmanager.cms/column!save.action  /parkmanager.cms/column!smsPage.action
             /parkmanager.cms/webInfo!view.action /parkmanager.cms/web/news/webContent_view.jsp /parkmanager.cms/webInfo!edit.action /parkmanager.cms/webInfo!delete.action /parkmanager.cms/webInfo!createChild.action
              /parkmanager.cms/webInfo!save.action /parkmanager.cms/webInfo!update.action /parkmanager.cms/column!update.action /parkmanager.cms/column!updateSava.action /parkmanager.cms/web/news/channel_edit.jsp /parkmanager.cms/column!delete.action /parkmanager.cms/articleList.action /parkmanager.cms/folow.action /parkmanager.cms/poll.action /parkmanager.cms/orgHome.action /parkmanager.cms/focus.action"
            type="menu"
            parentId="contentManagement_webContentManagement_deploy">
      </attribute>
   </extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_webContentManagement_deploy_addColumn"
            name="+栏目"
            order="11"
            uri="/parkmanager.cms/web/news/channel_add.jsp"
            uris="/parkmanager.cms/web/news/channel_add.jsp /parkmanager.cms/column!save.action"
            type="menu"
            parentId="contentManagement_webContentManagement_deploy">
		</attribute>
	</extension> 
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_webContentManagement_article"
            name="文章管理"
            order="11"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="contentManagement_webContentManagement">
		</attribute>
	</extension> 
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.cms/web/images/oaico/ad_08_min.png"
            idSpace="parkelves_catchManage_test2"
            name="所有抓取"
            order="1"
            uri="/parkmanager.cms/web/news/webContent_list.jsp"
            uris="/parkmanager.cms/web/news/webContent_list.jsp /parkmanager.cms/rss!listContent.action /parkmanager.cms/rss!doBackUp.action /parkmanager.cms/rss!delete.action /parkmanager.cms/rss!unAcceptance.action /parkmanager.cms/article!add.action /parkmanager.cms/article!publishById.action"
            type="menu"
            parentId="contentManagement_webContentManagement_article">
      </attribute>
   </extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="contentManagement_grabnow"
            name="立即抓取"
            order="11"
            uri="/parkmanager.cms/rss!doBackUp.action"
            uris="/parkmanager.cms/rss!doBackUp.action"
            type="menu"
            parentId="contentManagement_webContentManagement_article">
		</attribute>
	</extension> 
</plugin>
