<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="EnterpriseServiceExtension" name="EnterpriseServiceExtension" schema="schema/EnterpriseServiceExtension.exsd"/>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/ps_icon2.gif"
            idSpace="ps"
            name="企业终端"
            order="2"
            uri="javascript:void(0)"
            uris=""
            type="module"
            parentId="">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_service_center"
            name="服务中心"
            order="0"
            uri="/parkmanager.ps/action!service.action"
            uris="/parkmanager.ps/action!service.action"
            type="menu"
            parentId="ps">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pb/web/images/icon/client_01_min.png"
            idSpace="ps_serviceCenter_enterpriseInfo"
            name="企业信息"
            order="1"
            uri="/parkmanager.pb/dataReportToCustomer!countByCustomerId.action"
            uris="/parkmanager.pb/dataReportToCustomer!countByCustomerId.action /parkmanager.pb/customer!view.action /parkmanager.pb/customer!update.action /parkmanager.pb/web/client/project_view.jsp /parkmanager.pb/web/client/staffer_view_by_customerId.jsp /parkmanager.pb/web/client/knowledge_view.jsp /parkmanager.pb/product!addByCustomerId.action /parkmanager.pb/staffer!addByCustomerId.action /parkmanager.pb/patent!addByCustomerId.action /parkmanager.pb/copyright!addByCustomerId.action 
     		/parkmanager.pb/certification!addByCustomerId.action /parkmanager.pb/contect!list.action /parkmanager.pb/contectInfo!list.action /parkmanager.pb/customerModifyLog!list.action /parkmanager.pb/customerPolicy!list.action /parkmanager.pb/web/client/project_view.jsp /parkmanager.pb/product!list.action /parkmanager.pb/projectApply!list.action /parkmanager.pb/staffer!list.action /parkmanager.pb/patent!list.action /parkmanager.pb/copyright!list.action /parkmanager.pb/certification!list.action
     		/parkmanager.pb/web/client/contect_list_byCustomerId.jsp /parkmanager.pb/web/client/contectInfo_list_by_customerId.jsp /parkmanager.pb/analyse!customerView.action /parkmanager.pb/web/client/dataReport_index.jsp /parkmanager.pb/dataReport!loadGroup.action /parkmanager.pb/dataProperty!loadParentProperty.action /parkmanager.pb/web/client/dataReportGroup_add.jsp /parkmanager.pb/dataReportGroup!save.action /parkmanager.pb/dataReportGroup!update.action /parkmanager.pb/dataReport!add.action /parkmanager.pb/dataReport!loadReportByGroupId.action /parkmanager.pb/dataReport!viewByCustomerId.action /parkmanager.pb/dataReportGroup!edit.action /parkmanager.pb/dataReportGroup!delete.action /parkmanager.pb/dataReport!save.action /parkmanager.pb/dataReport!update.action /parkmanager.pb/analyse!loadPropertyByTemplate.action
     		/parkmanager.pb/dataReport!listByCustomerId.action /parkmanager.pb/dataReport!edit.action /parkmanager.pb/dataReport!delete.action /parkmanager.pb/customer!multiSelect.action /parkmanager.pb/analyse!customerCount.action /parkmanager.pb/analyse!dataXML2.action /parkmanager.pb/customer!loadCustomer.action /parkmanager.pb/dataReport!addCustomer.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_customerMessage_basicView"
            name="基本信息"
            order="1"
            uri="/parkmanager.pb/web/client/contect_list_byCustomerId_service.jsp"
            uris="/parkmanager.pb/web/client/contect_list_byCustomerId_service.jsp"
            type="operation"
            parentId="ps_serviceCenter_enterpriseInfo">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_customerMessage_view"
            name="公司信息"
            order="1"
            uri=""
            uris=""
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_registerMessage_view"
            name="注册信息"
            order="1"
            uri=""
            uris=""
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_canvassMessage_view"
            name="招商信息"
            order="1"
            uri=""
            uris=""
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_hatchMessage_view"
            name="孵化信息"
            order="1"
            uri=""
            uris=""
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_aptitude_view"
            name="企业资质"
            order="1"
            uri=""
            uris=""
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_changeMessage_view"
            name="变更信息"
            order="1"
            uri="/parkmanager.pb/customerModifyLog!loadByCustomerId.action"
            uris="/parkmanager.pb/customerModifyLog!loadByCustomerId.action"
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_modifyLogAdd"
            name="企业信息-基本信息-新建变更信息"
            order="1"
            uri="/parkmanager.pb/customerModifyLog!add.action"
            uris="/parkmanager.pb/customerModifyLog!add.action /parkmanager.pb/customerModifyLog!save.action"
            type="operation"
            parentId="ps_changeMessage_view">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_modifyLogEdit"
            name="企业信息-基本信息-编辑变更信息"
            order="1"
            uri="/parkmanager.pb/customerModifyLog!edit.action"
            uris="/parkmanager.pb/customerModifyLog!edit.action /parkmanager.pb/customerModifyLog!update.action"
            type="operation"
            parentId="ps_changeMessage_view">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_modifyLogView"
            name="企业信息-基本信息-查看变更信息"
            order="1"
            uri="/parkmanager.pb/customerModifyLog!view.action"
            uris="/parkmanager.pb/customerModifyLog!view.action"
            type="operation"
            parentId="ps_changeMessage_view">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_modifyLogDel"
            name="企业信息-基本信息-删除变更信息"
            order="1"
            uri="/parkmanager.pb/customerModifyLog!delete.action"
            uris="/parkmanager.pb/customerModifyLog!delete.action"
            type="operation"
            parentId="ps_changeMessage_view">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_policyMessage_view"
            name="政策信息"
            order="1"
            uri="/parkmanager.pb/customerPolicy!loadByCustomerId.action"
            uris="/parkmanager.pb/customerPolicy!loadByCustomerId.action"
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_accountMessage_view"
            name="账户信息"
            order="1"
            uri=""
            uris=""
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_reward_view"
            name="奖励管理"
            order="1"
            uri="/parkmanager.pb/reward!loadByCustomerId.action"
            uris="/parkmanager.pb/reward!loadByCustomerId.action /parkmanager.pb/reward!list.action /parkmanager.pb/reward!add.action /parkmanager.pb/reward!save.action /parkmanager.pb/reward!edit.action /parkmanager.pb/reward!update.action /parkmanager.pb/reward!view.action /parkmanager.pb/reward!delete.action"
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_customerRiskCapital_view"
            name="风险投资"
            order="1"
            uri="/parkmanager.pb/customerRiskCapital!loadByCustomerId.action"
            uris="/parkmanager.pb/customerRiskCapital!loadByCustomerId.action /parkmanager.pb/customerRiskCapital!list.action /parkmanager.pb/customer!addRiskCapital.action /parkmanager.pb/customerRiskCapital!save.action /parkmanager.pb/customerRiskCapital!edit.action /parkmanager.pb/customerRiskCapital!update.action /parkmanager.pb/customerRiskCapital!view.action /parkmanager.pb/customerRiskCapital!delete.action"
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_customerApplication_view"
            name="企业宣传"
            order="1"
            uri="/parkmanager.pb/customer!changeApplyState.action "
            uris="/parkmanager.pb/customer!changeApplyState.action"
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_other_view"
            name="其他"
            order="1"
            uri=""
            uris=""
            type="operation"
            parentId="ps_customerMessage_basicView">
      </attribute>
   </extension>
   <extension
	     point="core.war.ResourceExtensions">
	   <attribute
           icon="/parkmanager.pb/web/images/icon/client_02_min.png"
           idSpace="ps_linkman"
           name="联系人"
           order="2"
           uri="/parkmanager.pb/web/client/contect_list.jsp"
           uris="/parkmanager.pb/web/client/contect_list.jsp /parkmanager.pb/contect!list.action /parkmanager.pb/web/client/contect_search.jsp"
           type="menu"
           parentId="ps_serviceCenter_enterpriseInfo">
	   </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_contectAdd"
            name="企业信息-新建联系人"
            order="1"
            uri="/parkmanager.pb/contect!addByCustomerId.action"
            uris="/parkmanager.pb/contect!addByCustomerId.action /parkmanager.pb/contect!save.action"
            type="operation"
            parentId="ps_linkman">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_contectEdit"
            name="企业信息-编辑联系人"
            order="1"
            uri="/parkmanager.pb/contect!edit.action"
            uris="/parkmanager.pb/contect!edit.action /parkmanager.pb/contect!update.action"
            type="operation"
            parentId="ps_linkman">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_contectView"
            name="企业信息-查看联系人"
            order="1"
            uri="/parkmanager.pb/contect!view.action"
            uris="/parkmanager.pb/contect!view.action"
            type="operation"
            parentId="ps_linkman">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_contectDel"
            name="企业信息-删除联系人"
            order="1"
            uri="/parkmanager.pb/contect!delete.action"
            uris="/parkmanager.pb/contect!delete.action"
            type="operation"
            parentId="ps_linkman">
      </attribute>
   </extension>
   <extension
	     point="core.war.ResourceExtensions">
	   <attribute
           icon="/parkmanager.pb/web/images/icon/client_03_min.png"
           idSpace="ps_contectInfo"
           name="交往信息"
           order="3"
           uri="/parkmanager.pb/web/client/contectInfo_list.jsp"
           uris="/parkmanager.pb/web/client/contectInfo_list.jsp /parkmanager.pb/contectInfo!list.action /parkmanager.pb/web/client/contectInfo_search.jsp /parkmanager.pb/web/client/contectInfo_list_by_customerId_service.jsp"
           type="menu"
           parentId="ps_serviceCenter_enterpriseInfo">
	   </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_contectInfoAdd"
            name="企业信息-新建交往信息"
            order="1"
            uri="/parkmanager.pb/contectInfo!addByCustomerId.action"
            uris="/parkmanager.pb/contectInfo!addByCustomerId.action /parkmanager.pb/contect!loadContectsByCustomerId.action /parkmanager.pb/contectInfo!save.action"
            type="operation"
            parentId="ps_contectInfo">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_contectInfoEdit"
            name="企业信息-编辑交往信息"
            order="1"
            uri="/parkmanager.pb/contectInfo!edit.action"
            uris="/parkmanager.pb/contectInfo!edit.action /parkmanager.pb/contectInfo!update.action"
            type="operation"
            parentId="ps_contectInfo">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_contectInfoView"
            name="企业信息-查看交往信息"
            order="1"
            uri="/parkmanager.pb/contectInfo!view.action"
            uris="/parkmanager.pb/contectInfo!view.action"
            type="operation"
            parentId="ps_contectInfo">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_contectInfoDel"
            name="企业信息-删除交往信息"
            order="1"
            uri="/parkmanager.pb/contectInfo!delete.action"
            uris="/parkmanager.pb/contectInfo!delete.action"
            type="operation"
            parentId="ps_contectInfo">
      </attribute>
   </extension>
    <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_customer_investmentView"
            name="项目信息"
            order="1"
            uri="/parkmanager.pb/investment!view.action"
            uris="/parkmanager.pb/investment!view.action /parkmanager.pb/web/client/project_view_service.jsp"
            type="menu"
            parentId="ps_serviceCenter_enterpriseInfo">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_projectApplyAdd"
            name="企业信息-项目信息-新建项目信息"
            order="1"
            uri="/parkmanager.pb/projectApply!addByCustomerId.action"
            uris="/parkmanager.pb/projectApply!addByCustomerId.action /parkmanager.pb/product!save.action /parkmanager.pb/product!loadProductsByCustomerId.action"
            type="operation"
            parentId="ps_customer_investmentView">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_projectApplyView"
            name="企业信息-项目信息-查看项目信息"
            order="1"
            uri="/parkmanager.pb/product!view.action"
            uris="/parkmanager.pb/product!view.action"
            type="operation"
            parentId="ps_customer_investmentView">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_projectApplyEdit"
            name="企业信息-项目信息-编辑项目信息"
            order="1"
            uri="/parkmanager.pb/product!edit.action"
            uris="/parkmanager.pb/product!edit.action /parkmanager.pb/product!update.action"
            type="operation"
            parentId="ps_customer_investmentView">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_projectApplyDel"
            name="企业信息-项目信息-删除项目信息"
            order="1"
            uri="/parkmanager.pb/product!delete.action"
            uris="/parkmanager.pb/product!delete.action"
            type="operation"
            parentId="ps_customer_investmentView">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_projectApplySBAdd"
            name="企业信息-项目信息-新建项目申报情况"
            order="1"
            uri="/parkmanager.pb/projectApply!addByCustomerId.action"
            uris="/parkmanager.pb/projectApply!addByCustomerId.action /parkmanager.pb/projectApply!save.action"
            type="operation"
            parentId="ps_customer_investmentView">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_projectApplySBView"
            name="企业信息-项目信息-查看项目申报情况"
            order="1"
            uri="/parkmanager.pb/projectApply!view.action"
            uris="/parkmanager.pb/projectApply!view.action"
            type="operation"
            parentId="ps_customer_investmentView">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_projectApplySBEdit"
            name="企业信息-项目信息-编辑项目申报情况"
            order="1"
            uri="/parkmanager.pb/projectApply!edit.action"
            uris="/parkmanager.pb/projectApply!edit.action  /parkmanager.pb/projectApply!update.action"
            type="operation"
            parentId="ps_customer_investmentView">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_projectApplySBDel"
            name="企业信息-项目信息-删除项目申报情况"
            order="1"
            uri="/parkmanager.pb/projectApply!delete.action"
            uris="/parkmanager.pb/projectApply!delete.action"
            type="operation"
            parentId="ps_customer_investmentView">
      </attribute>
   </extension>
   <extension
	     point="core.war.ResourceExtensions">
	   <attribute
           icon="/parkmanager.pb/web/images/icon/client_21_min.png"
           idSpace="ps_staffer"
           name="主要人员"
           order="3"
           uri="/parkmanager.pb/web/client/staffer_list.jsp"
           uris="/parkmanager.pb/web/client/staffer_list.jsp /parkmanager.pb/staffer!list.action /parkmanager.pb/web/client/staffer_search.jsp /parkmanager.pb/web/client/staffer_view_by_customerId_service.jsp"
           type="menu"
           parentId="ps_serviceCenter_enterpriseInfo">
	   </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_stafferAdd"
            name="企业信息-主要人员-新建主要人员"
            order="1"
            uri="/parkmanager.pb/staffer!save.action"
            uris="/parkmanager.pb/staffer!save.action"
            type="operation"
            parentId="ps_staffer">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_stafferView"
            name="企业信息-主要人员-查看主要人员"
            order="1"
            uri="/parkmanager.pb/staffer!view.action"
            uris="/parkmanager.pb/staffer!view.action"
            type="operation"
            parentId="ps_staffer">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_stafferEdit"
            name="企业信息-主要人员-编辑主要人员"
            order="1"
            uri="/parkmanager.pb/staffer!edit.action"
            uris="/parkmanager.pb/staffer!edit.action /parkmanager.pb/staffer!update.action /parkmanager.pb/staffer!check.action"
            type="operation"
            parentId="ps_staffer">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_stafferDel"
            name="企业信息-主要人员-删除主要人员"
            order="1"
            uri="/parkmanager.pb/staffer!delete.action"
            uris="/parkmanager.pb/staffer!delete.action"
            type="operation"
            parentId="ps_staffer">
      </attribute>
   </extension>
   <extension
	     point="core.war.ResourceExtensions">
	   <attribute
           icon="/parkmanager.pb/web/images/icon/client_31_min.png"
           idSpace="ps_knowledge"
           name="知识产权"
           order="4"
           uri="/parkmanager.pb/web/client/knowledge_view_service.jsp"
           uris="/parkmanager.pb/web/client/knowledge_view_service.jsp"
           type="menu"
           parentId="ps_serviceCenter_enterpriseInfo">
	   </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_patentAdd"
            name="企业信息-知识产权-新建专利"
            order="1"
            uri="/parkmanager.pb/patent!save.action"
            uris="/parkmanager.pb/patent!save.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_patentView"
            name="企业信息-知识产权-查看专利"
            order="1"
            uri="/parkmanager.pb/patent!view.action"
            uris="/parkmanager.pb/patent!view.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_patentEdit"
            name="企业信息-知识产权-编辑专利"
            order="1"
            uri="/parkmanager.pb/patent!edit.action"
            uris="/parkmanager.pb/patent!edit.action /parkmanager.pb/patent!update.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_patentDel"
            name="企业信息-知识产权-删除专利"
            order="1"
            uri="/parkmanager.pb/patent!delete.action"
            uris="/parkmanager.pb/patent!delete.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_copyrightAdd"
            name="企业信息-知识产权-新建著作权"
            order="1"
            uri="/parkmanager.pb/copyright!save.action"
            uris="/parkmanager.pb/copyright!save.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_copyrightView"
            name="企业信息-知识产权-查看著作权"
            order="1"
            uri="/parkmanager.pb/copyright!view.action"
            uris="/parkmanager.pb/copyright!view.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_copyrightEdit"
            name="企业信息-知识产权-编辑著作权"
            order="1"
            uri="/parkmanager.pb/copyright!edit.action"
            uris="/parkmanager.pb/copyright!edit.action /parkmanager.pb/copyright!update.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_copyrightDel"
            name="企业信息-知识产权-删除著作权"
            order="1"
            uri="/parkmanager.pb/copyright!delete.action"
            uris="/parkmanager.pb/copyright!delete.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_certificationAdd"
            name="企业信息-知识产权-新建认证"
            order="1"
            uri="/parkmanager.pb/certification!save.action"
            uris="/parkmanager.pb/certification!save.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_certificationView"
            name="企业信息-知识产权-查看认证"
            order="1"
            uri="/parkmanager.pb/certification!view.action"
            uris="/parkmanager.pb/certification!view.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_certificationEdit"
            name="企业信息-知识产权-编辑认证"
            order="1"
            uri="/parkmanager.pb/certification!edit.action"
            uris="/parkmanager.pb/certification!edit.action /parkmanager.pb/certification!update.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_certificationDel"
            name="企业信息-知识产权-删除认证"
            order="1"
            uri="/parkmanager.pb/certification!delete.action"
            uris="/parkmanager.pb/certification!delete.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_brandAdd"
            name="企业信息-知识产权-新建商标"
            order="1"
            uri="/parkmanager.pb/brand!save.action"
            uris="/parkmanager.pb/brand!save.action /parkmanager.pb/brand!addByCustomerId.action /parkmanager.pb/brand!list.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_brandView"
            name="企业信息-知识产权-查看商标"
            order="1"
            uri="/parkmanager.pb/brand!view.action"
            uris="/parkmanager.pb/brand!view.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_brandEdit"
            name="企业信息-知识产权-编辑商标"
            order="1"
            uri="/parkmanager.pb/brand!edit.action"
            uris="/parkmanager.pb/brand!edit.action /parkmanager.pb/brand!update.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_brandDel"
            name="企业信息-知识产权-删除商标"
            order="1"
            uri="/parkmanager.pb/brand!delete.action"
            uris="/parkmanager.pb/brand!delete.action"
            type="operation"
            parentId="ps_knowledge">
      </attribute>
   </extension>
  <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_dataFill"
            name="数据填报"
            order="1"
            uri="/parkmanager.pb/analyse!customerView.action"
            uris="/parkmanager.pb/analyse!customerView.action /parkmanager.pb/analyse!customerCount.action /parkmanager.pb/dataReport!viewByCustomerId.action /parkmanager.pb/dataReportToCustomer!list.action
				 /parkmanager.pb/dataReportToCustomer!reportDebt.action /parkmanager.pb/dataReportToCustomer!reportProfit.action /parkmanager.pb/dataReport!countData.action /parkmanager.pb/analyse!countData.action /parkmanager.pb/analyse!dataXML2.action"
            type="operation"
            parentId="ps_serviceCenter_enterpriseInfo">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_communalFacilities"
            name="公共设施"
            order="1"
            uri="/parkmanager.pb/billPlanFacility!serviceListByFacilityOrderId.action"
            uris="/parkmanager.pb/billPlanFacility!serviceListByFacilityOrderId.action /parkmanager.pb/facility!serviceList.action /parkmanager.pb/facility!serviceView.action /parkmanager.pb/web/facility/resources_monery_list.jsp /parkmanager.pb/facilityOrder!serviceView.action /parkmanager.pb/web/facility/cost_layer_serviceList.jsp /parkmanager.pb/facilityOrder!listByUserId.action /parkmanager.pb/billPlanFacility!serviceList.action /parkmanager.pb/facilityOrder!serviceList.action /parkmanager.pb/contract!view.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_dataReport"
            name="数据报送"
            order="1"
            uri="/parkmanager.pb/web/client/dataReportToCustomerListByCustomerId.jsp"
            uris="/parkmanager.pb/web/client/dataReportToCustomerListByCustomerId.jsp /parkmanager.pb/dataReportToCustomer!reportPub.action
        	/parkmanager.pb/dataReportToCustomer!edit.action /parkmanager.pb/dataReportToCustomer!report.action /parkmanager.pb/dataReportToCustomer!view.action
        	/parkmanager.pb/dataReportToCustomer!listByCustomerId.action /parkmanager.crm/dataReportToCustomer!countByCustomerId.action /parkmanager.crm/web/client/dataReportToCustomerListByCustomerId.jsp /parkmanager.crm/dataReportToCustomer!listByCustomerId.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_dataManagement"
            name="资料管理"
            order="1"
            uri="/parkmanager.oa/web/document/public_service_document_index.jsp"
            uris="/parkmanager.oa/web/document/public_service_document_index.jsp /parkmanager.oa/docPublic!loadDocByParentId.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pb/web/images/icon/property_02_min.png"
            idSpace="ps_serviceCenter_propertyFix"
            name="物业报修"
            order="1"
            uri="/parkmanager.pb/propertyFix!serviceList.action"
            uris="/parkmanager.pb/propertyFix!serviceList.action /parkmanager.pb/propertyFix!listByUserId.action /parkmanager.pb/propertyFix!list.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pb/web/images/icon/contract_03_min.png"
            idSpace="ps_serviceCenter_contractInfo"
            name="合同信息"
            order="1"
            uri="/parkmanager.pb/contract!customerContractList.action"
            uris="/parkmanager.pb/contract!customerContractList.action /parkmanager.pb/contract!simpleView.action /parkmanager.pb/subjectRent!list.action
        	/parkmanager.pb/billPlanFacility!list.action /parkmanager.pb/subjectNetwork!list.action
        	/parkmanager.pb/contractApproval!list.action /parkmanager.pb/contractModifyLog!list.action /parkmanager.pb/contractMemo!list.action /parkmanager.pb/deposit!list.action /parkmanager.pb/contractAtt!list.action /parkmanager.pb/billPlanRent!list.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_billInfo"
            name="账单信息"
            order="1"
            uri="/parkmanager.pb/bill!customerBillList.action"
            uris="/parkmanager.pb/bill!customerBillList.action /parkmanager.pb/bill!view.action /parkmanager.pb/bill!loadBill.action /parkmanager.pb/bill!printCustomerBill.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_propertyFixView"
            name="物业报修-查看"
            order="1"
            uri="/parkmanager.pb/propertyFix!view.action"
            uris="/parkmanager.pb/propertyFix!view.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_serviceCenter_facilityView"
            name="公共设施-查看"
            order="1"
            uri="/parkmanager.pb/facility!facilityWeekInfo.action"
            uris="/parkmanager.pb/facility!facilityWeekInfo.action"
            type="operation"
            parentId="ps_service_center">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_msgCenter"
            name="消息中心"
            order="0"
            uri="/parkmanager.oa/mail!list.action"
            uris="/parkmanager.oa/mail!list.action /parkmanager.oa/mail!mail.action /parkmanager.oa/task!view.action"
            type="menu"
            parentId="ps">
      </attribute>
   </extension>
   	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_msg_msgAdd"
            name="新建"
            order="1"
            uri="/parkmanager.oa/web/content/ckeditor/uploader/browse.jsp"
            uris="/core/upload.action /parkmanager.oa/mail!sendMail.action /parkmanager.oa/web/content/ckeditor/uploader/browse.jsp /parkmanager.oa/web/content/ckeditor/uploader/upload.jsp /parkmanager.oa/mail!send.action"
            type="operation"
            parentId="ps_msgCenter">
      </attribute>
   </extension>
   	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_msg_msgDel"
            name="删除"
            order="1"
            uri="/parkmanager.oa/mail!delete.action"
            uris="/parkmanager.oa/mail!delete.action"
            type="operation"
            parentId="ps_msgCenter">
      </attribute>
   </extension>
   	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_msg_msgReplay"
            name="答复"
            order="1"
            uri="/parkmanager.oa/mail!replay.action"
            uris="/parkmanager.oa/mail!replay.action"
            type="operation"
            parentId="ps_msgCenter">
      </attribute>
   </extension>
   	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_msg_msgDownloadAtt"
            name="附件下载"
            order="1"
            uri="/parkmanager.oa/mail!downloadAttachment.action"
            uris="/parkmanager.oa/mail!downloadAttachment.action"
            type="operation"
            parentId="ps_msgCenter">
      </attribute>
   </extension>
   	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="ps_msg_msgDownloadAtt"
            name="存草稿"
            order="1"
            uri="/parkmanager.oa/mail!saveInDraft.action"
            uris="/parkmanager.oa/mail!saveInDraft.action"
            type="operation"
            parentId="ps_msgCenter">
      </attribute>
   </extension>
</plugin>
