/* CSS Document */
.icon-building{
	background:url(../images/building.png) no-repeat;
}
.icon-room{
	background:url(../images/room.png) no-repeat;
}
.icon-garage{
	background:url(../images/garage.png) no-repeat;
}
