<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
    <extension
       id="com.wiiy.engineering.entity.EngineeringProject"
       name="项目"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringProject">
      </entity>
   </extension>
   <extension
       id="com.wiiy.engineering.entity.EngineeringCustomer"
       name="客商"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringCustomer">
      </entity>
   </extension>
   <extension
       id="com.wiiy.engineering.entity.EngineeringCustomerInfo"
       name="客商详细信息"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringCustomerInfo">
      </entity>
   </extension>
   <extension
       id="com.wiiy.engineering.entity.EngineeringContract"
       name="合同"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringContract">
      </entity>
   </extension>
   <extension
       id="com.wiiy.engineering.entity.EngineeringContractAtt"
       name="合同文件"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringContractAtt">
      </entity>
   </extension>
    <extension
       id="com.wiiy.engineering.entity.EngineeringBillPlanRent"
       name="结算计划"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringBillPlanRent">
      </entity>
   </extension>
   <extension
       id="com.wiiy.engineering.entity.EngineeringBillRent"
       name="实际结算"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringBillRent">
      </entity>
   </extension> 
   <extension
       id="com.wiiy.engineering.entity.EngineeringPlan"
       name="项目计划进度"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringPlan">
      </entity>
   </extension>
   <extension
       id="com.wiiy.engineering.entity.EngineeringFact"
       name="项目实际进度"
       point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.engineering.entity.EngineeringFact">
      </entity>
   </extension>
   
    <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/cms_icon3.gif"
            idSpace="engineering"
            name="工程管理"
            order="6"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="business_functions">
      </attribute>
   </extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="department_engineering"
            name="项目管理"
            order="1"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="engineering">
		</attribute>
	</extension> 
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="department_engineering_project"
            name="工程部项目"
            order="1"
            uri="/department.engineering/web/project/project_list.jsp"
            uris="/department.engineering/web/project/project_list.jsp
            /core/corporation!simpleList.action
            /department.engineering/web/customer_selector.jsp
            /department.engineering/project!generateCode.action
            /department.engineering/web/project_selector.jsp
            /department.engineering/project!loadProjectData.action
            /department.engineering/project!simpleList.action
            /department.engineering/customer!simpleList.action
            /core/user!select.action
            /department.engineering/project!list.action"
            type="menu"
            parentId="department_engineering">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_edit"
            name="编辑"
            order="1"
            uri="/department.engineering/project!edit.action"
            uris="/department.engineering/project!edit.action
            /department.engineering/project!update.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_view"
            name="查看"
            order="1"
            uri="/department.engineering/project!view.action"
            uris="/department.engineering/project!view.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_delete"
            name="删除"
            order="1"
            uri="/department.engineering/project!delete.action"
            uris="/department.engineering/project!delete.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_add"
            name="新建"
            order="1"
            uri="/department.engineering/web/project/project_add.jsp"
            uris="/department.engineering/web/project/project_add.jsp
            /department.engineering/project!save.action"
            type="operation"
            parentId="department_engineering">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_watch"
            name="项目监控"
            order="2"
            uri="/department.engineering/web/chart/index.jsp"
            uris="/department.engineering/web/chart/index.jsp
            /department.engineering/project!loadProjectData.action
            /department.engineering/contract!loadContractData.action
            /department.engineering/plan!findPlansByProjectId.action
            /department.engineering/fact!findFactsByProjectId.action
            /department.engineering/billPlanRent!findPlanByContractId
            /parkmanager.pf/bill!findBillsByContractId.action
            /department.engineering/contract!viewById.action"
            type="operation"
            parentId="department_engineering">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_businessCustomer"
            name="客商管理"
            order="2"
            uri=""
            uris=""
            type="menu"
            parentId="engineering">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_businessCustomer_customer"
            name="客户"
            order="1"
            uri="/department.engineering/web/customer/customer_list.jsp"
            uris="/department.engineering/web/customer/customer_list.jsp
            /core/user!selectSelf.action
            /department.engineering/web/customer_selector.jsp
            /department.engineering/customer!simpleList.action
            /department.engineering/customer!list.action"
            type="menu"
            parentId="engineering_businessCustomer">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_customer_add_company"
            name="公司信息"
            order="5"
            uri=""
            uris=""
            type="operation"
            parentId="engineering_businessCustomer_customer">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_customer_add_register"
            name="注册信息"
            order="6"
            uri=""
            uris=""
            type="operation"
            parentId="engineering_businessCustomer_customer">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_customer_add_other"
            name="其他"
            order="7"
            uri=""
            uris=""
            type="operation"
            parentId="engineering_businessCustomer_customer">
      </attribute>
   </extension>
   
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_customer_add"
            name="新建"
            order="1"
            uri="/department.engineering/web/customer/customer_add.jsp"
            uris="/department.engineering/web/customer/customer_add.jsp
            /department.engineering/customer!save.action"
            type="operation"
            parentId="engineering_businessCustomer_customer">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_customer_view"
            name="查看"
            order="2"
            uri="/department.engineering/customer!view.action"
            uris="/department.engineering/customer!view.action"
            type="operation"
            parentId="engineering_businessCustomer_customer">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_customer_edit"
            name="编辑"
            order="3"
            uri="/department.engineering/customer!edit.action"
            uris="/department.engineering/customer!edit.action
            /department.engineering/customer!update.action"
            type="operation"
            parentId="engineering_businessCustomer_customer">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_customer_delete"
            name="删除"
            order="4"
            uri="/department.engineering/customer!delete.action"
            uris="/department.engineering/customer!delete.action"
            type="operation"
            parentId="engineering_businessCustomer_customer">
      </attribute>
   </extension>
   
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_businessCustomer_customer_add"
            name="+客户"
            order="1"
            uri="/department.engineering/web/customer/customer_add.jsp"
            uris="/department.engineering/web/customer/customer_add.jsp
            /department.engineering/customer!save.action"
            type="menu"
            parentId="engineering_businessCustomer_customer">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_businessCustomer_supplier"
            name="供应商"
            order="2"
            uri="/department.engineering/web/customer/customer_list.jsp?type=supplier"
            uris="/department.engineering/web/customer/customer_list.jsp?type=supplier
            /core/user!selectSelf.action
            /department.engineering/web/customer_selector.jsp
            /department.engineering/customer!simpleList.action
            /department.engineering/customer!list.action?type=supplier"
            type="menu"
            parentId="engineering_businessCustomer">
      </attribute>
   </extension>
  
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_businessCustomer_supplier_add"
            name="+供应商"
            order="1"
            uri="/department.engineering/web/customer/customer_add.jsp?type=supplier"
            uris="/department.engineering/web/customer/customer_add.jsp?type=supplier
            /department.engineering/customer!save.action"
            type="menu"
            parentId="engineering_businessCustomer_supplier">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_supplier_add"
            name="新建"
            order="1"
            uri="/department.engineering/web/customer/customer_add.jsp"
            uris="/department.engineering/web/customer/customer_add.jsp
            /department.engineering/customer!save.action"
            type="operation"
            parentId="engineering_businessCustomer_supplier">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_supplier_view"
            name="查看"
            order="2"
            uri="/department.engineering/customer!view.action"
            uris="/department.engineering/customer!view.action"
            type="operation"
            parentId="engineering_businessCustomer_supplier">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_supplier_edit"
            name="编辑"
            order="3"
            uri="/department.engineering/customer!edit.action"
            uris="/department.engineering/customer!edit.action
            /department.engineering/customer!update.action"
            type="operation"
            parentId="engineering_businessCustomer_supplier">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_supplier_delete"
            name="删除"
            order="4"
            uri="/department.engineering/customer!delete.action"
            uris="/department.engineering/customer!delete.action"
            type="operation"
            parentId="engineering_businessCustomer_supplier">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_supplier_add_company"
            name="公司信息"
            order="5"
            uri=""
            uris=""
            type="operation"
            parentId="engineering_businessCustomer_supplier">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_supplier_add_register"
            name="注册信息"
            order="6"
            uri=""
            uris=""
            type="operation"
            parentId="engineering_businessCustomer_supplier">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_supplier_add_other"
            name="其他"
            order="7"
            uri=""
            uris=""
            type="operation"
            parentId="engineering_businessCustomer_supplier">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_contractManage_all"
            name="工程合同"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="engineering_contractManage">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_contractManage_all_add"
            name="+合同"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="engineering_contractManage_all">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_contractManage_control"
            name="合同进度控制"
            order="3"
            uri=""
            uris=""
            type="menu"
            parentId="engineering_contractManage">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_assistManage"
            name="辅助管理"
            order="4"
            uri=""
            uris=""
            type="menu"
            parentId="engineering">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="engineering_assistManage_archives"
            name="工程文档"
            order="1"
            uri=""
            uris=""
            type="menu"
            parentId="engineering_assistManage">
      </attribute>
   </extension>
   

   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_contract"
            name="合同信息"
            order="1"
            uri="/department.engineering/web/project/project_contract_list.jsp"
            uris="/department.engineering/web/project/project_contract_list.jsp
            /department.engineering/contract!list.action
            /department.engineering/billPlanRent!list.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_plan"
            name="预计进度"
            order="1"
            uri="/department.engineering/web/project/project_plan_list.jsp"
            uris="/department.engineering/web/project/project_plan_list.jsp
            /department.engineering/engineeringPlan!list.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_fact_add"
            name="新建计划进度"
            order="1"
            uri="/department.engineering/engineeringPlan!add.action"
            uris="/department.engineering/web/project/project_plan_add.jsp
            /department.engineering/engineeringPlan!save.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_plan_edit"
            name="编辑计划进度"
            order="1"
            uri="/department.engineering/engineeringPlan!edit.action"
            uris="/department.engineering/engineeringPlan!edit.action
            /department.engineering/engineeringPlan!update.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_plan_view"
            name="查看计划进度"
            order="1"
            uri="/department.engineering/engineeringPlan!view.action"
            uris="/department.engineering/engineeringPlan!view.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_plan_delete"
            name="删除计划进度"
            order="1"
            uri="/department.engineering/engineeringPlan!delete.action"
            uris="/department.engineering/engineeringPlan!delete.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_fact"
            name="实际进度"
            order="1"
            uri="/department.engineering/web/project/project_fact_list.jsp"
            uris="/department.engineering/web/project/project_fact_list.jsp
            /department.engineering/web/project/plan_selector.jsp
            /department.engineering/web/project/engineeringPlan_selector.jsp
            /department.engineering/engineeringPlan!simpleList.action
            /department.engineering/engineeringPlan!findPlanById.action
            /department.engineering/engineeringFact!list.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_fact_add"
            name="新建实际进度"
            order="1"
            uri="/department.engineering/web/project/project_fact_add.jsp"
            uris="/department.engineering/web/project/project_fact_add.jsp
            /department.engineering/engineeringFact!save.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_fact_edit"
            name="编辑实际进度"
            order="1"
            uri="/department.engineering/engineeringFact!edit.action"
            uris="/department.engineering/engineeringFact!edit.action
            /department.engineering/engineeringFact!update.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_fact_view"
            name="查看实际进度"
            order="1"
            uri="/parkmanager.pf/web/contact/bill/bill_launch_my.jsp"
            uris="/parkmanager.pf/web/contact/bill/bill_launch_my.jsp"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="department_engineering_project_fact_delete"
            name="删除实际进度"
            order="1"
            uri="/department.engineering/engineeringFact!delete.action"
            uris="/department.engineering/engineeringFact!delete.action"
            type="operation"
            parentId="department_engineering_project">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="department_engineering_contract"
            name="合同管理"
            order="2"
            uri="/department.engineering/web/contract/contract_list.jsp"
            uris="/department.engineering/web/contract/contract_list.jsp
            /department.engineering/contract!list.action
            /core/user!select.action
            /department.engineering/web/contract/contractAtt.jsp
            /department.engineering/web/contract/billRent.jsp
            /department.engineering/web/contract/billPlanRent.jsp
            /department.engineering/web/project_selector.jsp
            /department.engineering/project!simpleList.action
            /core/corporation!simpleList.action
            /department.engineering/web/customer_selector.jsp
            /department.engineering/contract!generateCode.action
            /department.engineering/customer!simpleList.action
            /department.engineering/billPlanRent!list.action
            /parkmanager.pf/bill!viewById.action
            /parkmanager.pf/bill!list.action"
            type="menu"
            parentId="department_engineering">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_contract_add"
            name="新建"
            order="1"
            uri="/department.engineering/web/contract/contract_add_by_id.jsp"
            uris="/department.engineering/web/contract/contract_add_by_id.jsp
            /department.engineering/web/contract/contract_add.jsp
            /department.engineering/contract!save.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_contract_view"
            name="查看"
            order="2"
            uri="/department.engineering/contract!viewById.action"
            uris="/department.engineering/contract!viewById.action
            /department.engineering/contract!view.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_contract_edit"
            name="编辑"
            order="3"
            uri="/department.engineering/contract!editById.action"
            uris="/department.engineering/contract!editById.action
            /department.engineering/contract!edit.action
            /department.engineering/contract!update.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_contract_delete"
            name="删除"
            order="4"
            uri="/department.engineering/contract!delete.action"
            uris="/department.engineering/contract!delete.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_file_add"
            name="新建合同文件"
            order="5"
            uri="/department.engineering/web/contract/contractAtt_add.jsp"
            uris="/department.engineering/web/contract/contractAtt_add.jsp
            /department.engineering/contractAtt!save.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_file_view"
            name="查看合同文件"
            order="6"
            uri="/department.engineering/contractAtt!view.action"
            uris="/department.engineering/contractAtt!view.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_file_edit"
            name="编辑合同文件"
            order="7"
            uri="/department.engineering/contractAtt!edit.action"
            uris="/department.engineering/contractAtt!edit.action
            /department.engineering/contractAtt!update.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_file_delete"
            name="删除合同文件"
            order="8"
            uri="/department.engineering/contractAtt!delete.action"
            uris="/department.engineering/contractAtt!delete.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   
    <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_rent_add"
            name="新建结算计划"
            order="9"
            uri="/department.engineering/web/contract/billPlanRent_add.jsp"
            uris="/department.engineering/web/contract/billPlanRent_add.jsp
            /department.engineering/web/contract/billPlanRent_selector.jsp
            /department.engineering/billPlanRent!generateCode.action
            /department.engineering/billPlanRent!save.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_rent_contact_bill"
            name="实际结算"
            order="1"
            uri="/parkmanager.pf/bill!add.action"
            uris="/parkmanager.pf/bill!add.action
            /parkmanager.pf/web/contact/bill/billPlanRent_selector.jsp
            /parkmanager.pf/bill!findCompleteFee.action
            /department.engineering/billPlanRent!simpleList.action
            /department.synthesis/billPlanRent!simpleList.action
            /parkmanager.pf/bill!view.action
            /parkmanager.pf/bill!update.action
            /parkmanager.pf/bill!delete.action
            /parkmanager.pf/bill!handle.action
            /parkmanager.pf/bill!save.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
    <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_rent_start_bill"
            name="发起结算"
            type="operation"
            order="9"
            uri="/parkmanager.pf/bill!addByPlanId.action"
            uris="/parkmanager.pf/bill!addByPlanId.action"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_rent_view"
            name="查看结算计划"
            order="10"
            uri="/department.engineering/billPlanRent!view.action"
            uris="/department.engineering/billPlanRent!view.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_rent_edit"
            name="编辑结算计划"
            order="11"
            uri="/department.engineering/billPlanRent!edit.action"
            uris="/department.engineering/billPlanRent!edit.action
            /department.engineering/web/contract/billPlanRent_selector.jsp
            /department.engineering/billPlanRent!generateCode.action
            /department.engineering/billPlanRent!update.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_rent_delete"
            name="删除结算计划"
            order="12"
            uri="/department.engineering/billPlanRent!delete.action"
            uris="/department.engineering/billPlanRent!delete.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_rent_launch"
            name="发起结算流程"
            order="12"
            uri="/department.engineering/billRent!add.action"
            uris="/department.engineering/billRent!add.action
            /department.engineering/web/contract/billRent_add.jsp
            /department.engineering/billPlanRent!findPlanById.action
            /department.engineering/billRent!save.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="engineering_bill_rent_view"
            name="查看实际结算"
            order="14"
            uri="/department.engineering/billRent!view.action"
            uris="/department.engineering/billRent!view.action"
            type="operation"
            parentId="department_engineering_contract">
      </attribute>
   </extension>
   
   
   
   
   
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/department.engineering/web/images/icon/projectadmin_01_min.png"
            idSpace="department_engineering_remind"
            name="计划付款提醒"
            order="4"
            uri="/department.engineering/web/remind/remind_list.jsp"
            uris="/department.engineering/web/remind/remind_list.jsp
            /department.engineering/billPlanRent!remindCount.action
            /department.engineering/billPlanRent!remindList.action"
            type="menu"
            parentId="department_engineering">
      </attribute>
   </extension> 
</plugin>
