<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="com.wiiy.pf.entity.ProcessType"
         name="流程类别"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.ProcessType">
      </entity>
   </extension>
   <extension
         id="com.wiiy.pf.entity.Leave"
         name="请假单"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.Leave">
      </entity>
   </extension>
   <extension
         id="com.wiiy.pf.entity.Parkin"
         name="入孵申请单"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.Parkin">
      </entity>
   </extension>
   <extension
         id="com.wiiy.pf.entity.Fictitious"
         name="入驻审批单"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.Fictitious">
      </entity>
   </extension>
   <extension
         id="com.wiiy.pf.entity.ContactBaseLog"
         name="申请单轨迹"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.ContactBaseLog">
      </entity>
   </extension>
   <extension
         id="com.wiiy.pf.entity.ContactBaseAtt"
         name="联系单附件"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.ContactBaseAtt">
      </entity>
   </extension>
   <extension
         id="com.wiiy.pf.entity.Bill"
         name="实际结算"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.Bill">
      </entity>
   </extension>
   <extension
         id="com.wiiy.pf.entity.ContactForm"
         name="内部联系单"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.ContactForm">
      </entity>
   </extension>
   <extension
         id="com.wiiy.pf.entity.PurchaseRequisition"
         name="采购申请单"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.pf.entity.PurchaseRequisition">
      </entity>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pf/images/bundle_pf.png"
            idSpace="workflowManagement"
            name="流程管理"
            order="5"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="task_allocation">
      </attribute>
   </extension>
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="workflowManagement_workflow"
            name="流程管理"
            order="10022"
            uri="javascript:void(0)"
            uris=""
            type="menu"
            parentId="workflowManagement">
		</attribute>
	</extension> 
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pf/images/process_01_min.png"
            idSpace="workflowManagement_workflow_process"
            name="流程定义"
            order="11"
            uri="/parkmanager.pf/web/process/process.jsp"
            uris="/parkmanager.pf/web/process/process.jsp 
            /parkmanager.pf/process!list.action
            /parkmanager.pf/process!deleteByFilePath.action
            /parkmanager.pf/process!resourceRead.action"
            type="menu"
            parentId="workflowManagement_workflow">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pf/images/process_05_min.png"
            idSpace="workflowManagement_workflow_role"
            name="流程角色管理"
            order="11"
            uri="/parkmanager.pf/workflowRole!list.action"
            uris="/parkmanager.pf/workflowRole!load.action /parkmanager.pf/web/workflowRole/list.jsp /parkmanager.pf/workflowRole!list.action"
            type="menu"
            parentId="workflowManagement_workflow">
      </attribute>
   </extension>
   
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="workflow_role_add"
            name="添加"
            order="1"
            uri="/parkmanager.pf/workflowRole!add.action"
            uris="/parkmanager.pf/web/workflowRole/add.jsp
            /parkmanager.pf/workflowRole!save.action /parkmanager.pf/workflowRole!add.action"
            type="operation"
            parentId="workflowManagement_workflow_role">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="workflow_role_delete"
            name="删除"
            order="2"
            uri="/parkmanager.pf/workflowRole!delete.action"
            uris="/parkmanager.pf/workflowRole!delete.action"
            type="operation"
            parentId="workflowManagement_workflow_role">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="workflow_role_edit"
            name="编辑"
            order="3"
            uri="/parkmanager.pf/workflowRole!edit.action"
            uris="/parkmanager.pf/workflowRole!edit.action /parkmanager.pf/web/workflowRole/edit.jsp"
            type="operation"
            parentId="workflowManagement_workflow_role">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="workflow_role_setting"
            name="指定人员"
            order="4"
            uri="/parkmanager.pf/workflowRole!multiSelect.action"
            uris="/parkmanager.pf/workflowRole!setting.action /parkmanager.pf/workflowRole!multiSelect.action 
            	/parkmanager.pf/workflowUser!load.action /parkmanager.pf/workflowRole!multiSelectSave.action 
            	/parkmanager.pf/web/workflowRole/multiSelect.jsp"
            type="operation"
            parentId="workflowManagement_workflow_role">
      </attribute>
   </extension>
   
   
      <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="workflow_process_add"
            name="添加"
            order="1"
            uri="/parkmanager.pf/web/process/process_add.jsp"
            uris="/parkmanager.pf/web/process/process_add.jsp
            /parkmanager.pf/process!deploy.action"
            type="operation"
            parentId="workflowManagement_workflow_process">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="workflow_process_delete"
            name="删除"
            order="11"
            uri="/parkmanager.pf/process!processDelete.action"
            uris="/parkmanager.pf/process!processDelete.action"
            type="operation"
            parentId="workflowManagement_workflow_process">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="workflow_process_changeState"
            name="更改状态"
            order="11"
            uri="/parkmanager.pf/process!changeState.action"
            uris="/parkmanager.pf/process!changeState.action"
            type="operation"
            parentId="workflowManagement_workflow_process">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pf/images/process_03_min.png"
            idSpace="workflowManagement_workflow_processing"
            name="运行中的流程"
            order="11"
            uri="/parkmanager.pf/web/process/processing.jsp"
            uris="/parkmanager.pf/web/process/processing.jsp 
            /parkmanager.pf/process!running.action
            /parkmanager.pf/process!resourceRead.action"
            type="menu"
            parentId="workflowManagement_workflow">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="workflow_processing_showNode"
            name="查看当前节点"
            order="11"
            uri="/parkmanager.pf/web/process/process_showNode.jsp"
            uris="/parkmanager.pf/web/process/process_showNode.jsp 
            /parkmanager.pf/process!processInstance.action
            /parkmanager.pf/process!traceProcess.action"
            type="operation"
            parentId="workflowManagement_workflow_processing">
      </attribute>
   </extension>
   
   
   <extension
		point="core.war.ResourceExtensions">
		<attribute
            icon=""
            idSpace="workflowManagement_contact"
            name="联系单管理"
            order="10023"
            uri="javascript:void(0)"
            uris="/parkmanager.pf/contact!findDefinitions.action"
            type="menu"
            parentId="workflowManagement">
		</attribute>
	</extension> 
	
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pf/images/process_02_min.png"
            idSpace="workflowManagement_contact_launch_my"
            name="我发起的联系单"
            order="11"
            uri="/parkmanager.pf/contact!launchList.action"
            uris="/parkmanager.pf/contact!launchList.action
            /parkmanager.pf/contact!checkSuspended.action
            /parkmanager.pf/web/contact/contact_launch_my.jsp"
            type="menu"
            parentId="workflowManagement_contact">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pf/images/process_03_min.png"
            idSpace="workflowManagement_contact_deal"
            name="待处理的联系单"
            order="11"
            uri="/parkmanager.pf/contact!taskList.action"
            uris="/parkmanager.pf/contact!taskList.action
            /parkmanager.pf/contact!taskList1.action
            /parkmanager.pf/contact!checkSuspended.action"
            type="menu"
            parentId="workflowManagement_contact">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/parkmanager.pf/images/process_04_min.png"
            idSpace="workflowManagement_contact_hideal"
            name="已处理的联系单"
            order="12"
            uri="/parkmanager.pf/contact!hiTaskList.action"
            uris="/parkmanager.pf/contact!hiTaskList.action"
            type="menu"
            parentId="workflowManagement_contact">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="contact_parkin"
            name="入孵申请单"
            order="1"
            uri="/parkmanager.pf/web/contact/parkin/add.jsp"
            uris="/parkmanager.pf/web/contact/parkin/add.jsp
            /parkmanager.pf/web/contact/parkin/view.jsp
            /parkmanager.pf/web/contact/parkin/handle.jsp
            /parkmanager.pf/parkin!view.action
            /parkmanager.pf/parkin!update.action
            /parkmanager.pf/parkin!delete.action
            /parkmanager.pf/parkin!handle.action
            /parkmanager.pf/parkin!save.action"
            type="operation"
            parentId="workflowManagement_contact">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="contact_bill"
            name="实际结算"
            order="1"
            uri="/parkmanager.pf/bill!add.action"
            uris="/parkmanager.pf/bill!add.action
            /parkmanager.pf/web/contact/bill/billPlanRent_selector.jsp
            /parkmanager.pf/bill!findCompleteFee.action
            /department.engineering/billPlanRent!simpleList.action
            /department.synthesis/billPlanRent!simpleList.action
            /parkmanager.pf/bill!view.action
            /parkmanager.pf/bill!update.action
            /parkmanager.pf/bill!delete.action
            /parkmanager.pf/bill!handle.action
            /parkmanager.pf/bill!save.action"
            type="operation"
            parentId="workflowManagement_contact">
      </attribute>
   </extension>
   
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="contact_contactform"
            name="内部联系单"
            order="3"
            uri="/parkmanager.pf/contactform!add.action"
            uris="/parkmanager.pf/contactform!add.action 
            /parkmanager.pf/web/contact/contactform/view.jsp
            /parkmanager.pf/web/contact/contactform/handle.jsp
            /parkmanager.pf/contact!myView.action
            /parkmanager.pf/contact!claim.action
            /parkmanager.pf/contactform!view.action
            /parkmanager.pf/contactform!update.action
            /parkmanager.pf/contactform!delete.action
            /parkmanager.pf/contactform!handle.action
            /parkmanager.pf/contactform!save.action"
            type="operation"
            parentId="workflowManagement_contact">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="contact_contactinform"
            name="内部工作联系单"
            order="4"
            uri="/parkmanager.pf/contactinform!add.action"
            uris="/parkmanager.pf/contactinform!add.action 
            /parkmanager.pf/web/contact/contactinform/view.jsp
            /parkmanager.pf/web/contact/contactinform/handle.jsp
            /parkmanager.pf/contact!myView.action
            /parkmanager.pf/contact!claim.action
            /parkmanager.pf/contactinform!view.action
            /parkmanager.pf/contactinform!update.action
            /parkmanager.pf/contactinform!delete.action
            /parkmanager.pf/contactinform!handle.action
            /parkmanager.pf/contactinform!save.action"
            type="operation"
            parentId="workflowManagement_contact">
      </attribute>
   </extension>
   <extension
         point="core.war.ResourceExtensions">
      <attribute
            icon=""
            idSpace="contact_purchase"
            name="采购申请单"
            order="5"
            uri="/parkmanager.pf/purchase!add.action"
            uris="/parkmanager.pf/purchase!add.action 
            /parkmanager.pf/web/contact/purchase/view.jsp
            /parkmanager.pf/web/contact/purchase/handle.jsp
            /parkmanager.pf/contact!myView.action
            /parkmanager.pf/contact!claim.action
            /parkmanager.pf/purchase!view.action
            /parkmanager.pf/purchase!update.action
            /parkmanager.pf/purchase!delete.action
            /parkmanager.pf/purchase!handle.action
            /parkmanager.pf/purchase!save.action"
            type="operation"
            parentId="workflowManagement_contact">
      </attribute>
   </extension>
</plugin>
