<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="wiiy_Platform" sequenceNumber="80">
<locations>
<location path="${workspace_loc}\platform.lib" type="Directory"/>
</locations>
</target>
